/* Text styles */

.text--normal {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.text--emphasis {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.text--highlight {
  color: #dddb00;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

/* App styles */

.lateral-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.App {
  min-height: 100vh;
}

/* Media queries */

@media (min-width: 451px) and (max-width: 760px) {
  .lateral-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 450px) {
  .text--normal {
    font-size: 16px;
  }
  .text--emphasis {
    font-size: 16px;
  }
  .text--highlight {
    font-size: 16px;
  }
  .lateral-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}