/* Text styles */

.text--normal {
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.text--emphasis {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.text--highlight {
  color: #dddb00;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

/* App styles */

.lateral-padding {
  padding-left: 60px;
  padding-right: 60px;
}

.App {
  min-height: 100vh;
}