.header {
    align-items: center;
    background: #08979a;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header__logo {
    cursor: pointer;
    height: 50px;
}

.header__title {
    cursor: pointer;
    bottom: 12px;
    font-size: 30px;
    padding-left: 15px;
    position: relative;
}

.header__list {
    list-style: none;
    margin-right: 8%;
}

.header__item {
    border-bottom: 2px solid #08979a;
    cursor: pointer;
    display: inline;
    margin: 0px 30px;
    transition: border-bottom-color 200ms;
}

.header__item:hover {
    border-bottom-color: #ffffff;
}

.header__user {
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.header__user:hover .user__name {
    visibility: visible;
}

.user__picture {
    height: 40px;
}

.user__arrow {
    bottom: 10px;
    margin-left: 5px;
    height: 15px;
    position: relative;
}

.user__name {
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 14px;
    padding: 15px;
    position: absolute;
    right: 0px;
    box-shadow: 0px 7px 29px 0px rgba(33, 33, 54, 0.3);
    text-align: left;
    top: 50px;
    visibility: hidden;
    width: 150px;
}

.header__hamburger {
    border-radius: 4px;
    cursor: pointer;
    display: none;
    margin-left: 10px;
    padding: 4px 8px;
    transition: background-color 100ms;
}

.hamburger--active {
    background-color: #067173;
}

.hamburger__slice {
    background-color: white;
    border-radius: 2px;
    height: 3px;
    margin: 5px 0px;
    width: 25px;
}

.header__list--mobile {
    background-color: #067173;
    cursor: pointer;
    display: none;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.header__item--mobile {
    font-size: 16px;
    padding: 10px 0px;
    transition: background-color 100ms;
}

.header__item--mobile:hover {
    background-color: #067e80;
}

/* Animations */

.expand-animation {
    animation: expand 500ms ease-in-out both;
}

@keyframes expand {
    0% {
        height: 0px;
    }
    100% {
        height: 39px;
    }
}

.contract-animation {
    animation: contract 500ms ease-in-out both;
}

@keyframes contract {
    0% {
        height: 39px;
    }
    100% {
        height: 0px;
    }
}

/* Media queries */

@media (max-width: 650px) {
    .header__logo {
        height: 40px;
    }
    .header__title {
        bottom: 10px;
        font-size: 24px;
        padding-left: 10px;
    }
    .header__list {
        display: none;
    }
    .user__picture {
        height: 30px;
        margin-bottom: 4px;
    }
    .user__arrow {
        display: none;
    }
    .header__hamburger {
        display: inline-block;
    }
    .header__list--mobile {
        display: block;
    }
}

@media (max-width: 450px) {
    .header__logo {
        display: none;
    }
    .header__title {
        bottom: 0px;
        font-size: 20px;
        padding-left: 0px;
    }
}